.annoucements-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.annoucements {
    width: 969px;
    margin: 0 36px;
    height: 100%;

    .container {
        width: 969px;
        border-radius: 10px;
        height: 675px;
        background-color: var(--mainColor);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 13px;

        .annoucements-header {
            font-size: 12px;
            gap: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.5;
            }
        }

        *::-webkit-scrollbar {
            width: 2px;

        }

        *::-webkit-scrollbar-track {
            margin-right: 10px;
            background: var(--secondColor);
            border: 2px solid var(--secondColor);
        }

        *::-webkit-scrollbar-thumb {
            background-color: var(--fourthColor);
            border: 2px solid var(--fourthColor);
        }

        .annoucements-results {
            width: 96%;
            height: 553px;
            display: flex;
            // align-items: center;
            justify-content: center;
            overflow-y: scroll;

            table {
                border-spacing: 4px;
                display: block;
            }



            .annoucements-row {
                min-height: 28px;
                height: 28px;
                font-size: 10px;
                margin-bottom: 7px;
                div{
                    display: none;
                    background-color: var(--secondColor);
                    padding: 4px 10px;
                }

                td {
                    background-color: var(--secondColor);


                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

        }

        .buttons {
            width: 969px;
            display: flex;
            justify-content: flex-end;
            padding: 18px 42px;
            align-items: center;

            .btn {
                width: 147px;
                height: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--fourthColor);
                border-radius: 5px;
                color: black;
                font-size: 10px;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }

            .remove-btn {
                width: 147px;
                height: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ff3131;
                border-radius: 5px;
                color: white;
                font-size: 10px;
                margin-right: 10px;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }

    }
}



.checkbox-input {
    display: none;
}

.checkbox-input:checked+label .checkbox:after {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox {
    border: 1px solid white;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.checkbox:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 3px;
    transition: 0.3s;
}

#confirm-button{
    display: none;
}