//
// Vehicle Information
//

@import '../../styles/_variables.scss';

.vehicle-information {
  &__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  &__main {
    padding: 20px;
    border-radius: calc($default-border-radius / 1.25);
    background-color: #1b1c1f;
    display: flex;
    flex-direction: column;
  }

  &__image {
    &-container {
      position: relative;
      border-radius: 5px;
      background-color: rgb(255, 255, 255, 0.05);
    }

    &-change {
      position: absolute;
      bottom: -6px;
      right: -6px;
      min-width: 32px;
      max-width: 32px;
      height: 32px;
      border: 3px solid #1b1c1f;
      border-radius: 999px;
      background-color: rgb(65, 65, 65);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #90939a;
      transition: all 125ms;

      &:hover {
        cursor: pointer;
        background-color: rgb(75, 75, 75);
      }
    }
  }

  &__img {
    width: 100%;
    height: 175px;
    border-radius: 5px;
    object-fit: cover;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
  }

  &__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid rgb(255, 255, 255, 0.05);
    border-radius: 0 0 5px 5px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #d4d4d4;
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #7d7e80;
  }

  &__brace {
    min-width: 5px;
    max-width: 5px;
    height: 5px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: rgb(255, 255, 255, 0.1);
  }

  &__item {
    border-radius: calc($default-border-radius / 1.5);
    background-color: #232428;
    display: flex;
    align-items: center;
    overflow: hidden;

    &-inner {
      width: 100%;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-icon {
      min-width: 48px;
      height: 48px;
      background-color: rgb(79, 112, 156, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #4f709c;
    }
  }
}
