//
// On Duty Card
//

@import '../../styles/_variables.scss';

.on-duty-card {
  border: 1px solid transparent;
  border-radius: calc($default-border-radius / 1.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 500ms;

  &.is-active {
    border-color: rgb(255, 255, 255, 0.1);
  }

  &.is-active &__header {
    border-radius: calc($default-border-radius / 1.25) calc($default-border-radius / 1.25) 0 0;
  }

  &.is-active &__icon--arrow {
    transform: rotateX(180deg);
  }

  &.is-active &__main {
    max-height: 100vh;
    transition: all 500ms ease-in;
  }

  &__header {
    padding: 15px;
    border-radius: calc($default-border-radius / 1.25);
    background-color: #232428;
    transition: all 125ms;

    &:hover {
      cursor: pointer;
      background-color: #27292d;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #727374;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #727374;
  }

  &__label {
    padding: 5px 18px;
    border-radius: calc($default-border-radius / 1.5);
    background-color: rgb(68, 68, 68, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    color: #fff;

    &--yellow {
      color: #fbe947;
    }

    &--red {
      color: #fb5247;
    }
  }

  &__icon {
    font-size: 14px;
    margin-right: 5px;
    display: flex;

    &--arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #757785;
      transition: all 500ms;
    }

    &--normal {
      font-size: 17px;
      color: #5d5e61;
    }

    &-inner {
      transition: all 400ms;
    }
  }

  &__main {
    max-height: 0;
    overflow: hidden;
    transition: all 500ms ease-out;

    &-inner {
      padding: 15px;
    }
  }

  &__map {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #25262b;

    &-img {
      width: 100%;
      user-select: none;
      -webkit-user-select: none;
      pointer-events: none;
    }
  }
}
