//
// Textarea
//

@import '../../styles/_variables.scss';

.textarea {
  position: relative;

  &__inner {
    border: 0;
    outline: 0;
    width: 100%;
    min-height: 200px;
    resize: none;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: calc($default-border-radius / 2);
    background-color: #232428;
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #747578;
    transition: all 125ms;

    &:focus {
      border-color: rgb(255, 255, 255, 0.075);
    }

    &::-webkit-scrollbar {
      width: 19px;
    }

    &::-webkit-scrollbar-track {
      background: #232428;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6c6c6c;
      border-radius: 10px;
      border: 5px solid #232428;

      &:hover {
        cursor: default;
        background-color: #828282;
      }
    }
  }

  &__save-button {
    border: 0;
    outline: 0;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 4px 20px;
    border-radius: 999px;
    background-color: #2f75fc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    transition: all 125ms;

    &:hover {
      cursor: pointer;
      background-color: #265dcc;
    }
  }
}
