.card { 
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.category-label {
    color: rgba(230, 230, 230, 0.9);
    font-family: 'DIN Pro Cond Bold', sans-serif;
    font-style: italic;
    font-size: 2.15rem;
    text-transform: capitalize;
}

.veh-stock { 
    display: inline-flex;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}

.veh-label { 
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    text-shadow: 1px 1px 2px black;
}

.veh-price { 
    text-shadow: 1px 1px 2px black;
}