.napadowa3-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.napadowa3 {
    width: 969px;
    margin: 0 36px;
    height: 100%;

    .napadowa3-header {
        width: 969px;
        height: 70px;
        border-radius: 10px;
        background-color: var(--mainColor);
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        div {
            height: 65px;

            .header-title {
                display: flex;
                height: 25px;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.6)
            }

            .header-content{
                background-color: var(--secondColor);
            }

            .pwc {
                justify-content: space-between;

                .pwc-button {
                    width: 60px;
                    height: 19px;
                    font-size: 8px;
                    background-color: var(--secondColor);
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }

            }

            .header-content {
                height: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                color: rgba(255, 255, 255, 0.6);
                background-color: var(--secondColor);
                & input{
                    width: 100%;
                    height: 100%;
                    color: white;
                    text-align: center;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    &:disabled{
                        color: grey;
                    }
                }
            }

        }

    }

    .napadowa3-container2 {
        width: 969px;
        height: 559px;
        display: flex;
        justify-content: space-between;
        gap: 12px;

        *::-webkit-scrollbar {
            width: 2px;
        }
        
        *::-webkit-scrollbar-track {
            margin: 0;
            background: var(--secondColor);
            border: 2px solid var(--secondColor);
        }
        
        *::-webkit-scrollbar-thumb {
            background-color: var(--fourthColor);
            border: 2px solid var(--fourthColor);
        }

        .patrols-container {
            width: 715px;
            height: 559px;
            border-radius: 10px;
            background-color: var(--mainColor);
            padding: 8px 14px;
            overflow-y: scroll;
            header {
                width: 98%;
                height: 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.6);
                padding: 0 20px;
                .refresh:hover {
                    opacity: 0.7;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .patrol {
                width: 100%;
                min-height: 33px !important;
                max-height: 120px;
                display: flex;
                gap: 4px;
                margin-bottom: 8px;
                position: relative;
                &:hover {
                    cursor: pointer;
                }
                div {
                    min-height: 100%;
                    background-color: var(--secondColor);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    color: #fff;
                }
                .pu-index {
                    width: 102px;
                }
                .pu-remove {
                    width: 50px;
                    background-color: rgb(59, 0, 0);
                }
                .names {
                    width: 160px;
                    flex-direction: column;
                    gap: 5px;
                    span {
                        padding: 4px;
                    }
                }
                .unit {
                    width: 100px;
                }
                .vehicle {
                    width: 120px;
                }
                .status {
                    width: 190px;
                    max-height: 10% !important;
                    padding: 10px;
                    
                    span{
                        word-break: break;
                        overflow: hidden;
                    }
                }
            }
        }

        .patrols-right {
            height: 559px;
            width: 242px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 14px;

            .patrols-s4 {
                width: 242px;
                height: 379px;
                border-radius: 10px;
                background-color: var(--mainColor);
                display: flex;
                flex-direction: column;
                align-items: center;

                header {
                    width: 225px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 5px;
                    background-color: var(--secondColor);
                    margin: 8px;
                }

                ::-webkit-scrollbar {
                    display: none;
                }

                .s4-scroll {
                    width: 220px;
                    height: 72%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & textarea{
                        width: 100% !important;
                        height: 100% !important;
                        background-color: transparent;
                        color: white;
                        resize: none;
                        outline: unset !important;
                        border: unset;
                        background-color: var(--secondColor);
                        padding: 10px;
                        box-sizing: border-box;
                        font-size: 12px;


                        &:disabled{
                            color: grey;
                        }
                    }


                }

            }

            .patrols-self {
                width: 242px;
                height: 166px;
                border-radius: 10px;
                background-color: var(--mainColor);
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                .create-patrol {
                    width: 226px;
                    height: 42px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--secondColor);
                    border-radius: 5px;
                    font-size: 14px;
                    color:rgba(255, 255, 255, 0.6);
                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
                .line {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 5px;
                    // background-color: red;
                    .btn {
                        border-radius: 5px;
                        height: 30px;
                        width: calc(45% + 10px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--secondColor);
                        font-size: 11px;
                        color: rgba(255, 255, 255, 0.6);
                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                    .patrol-data {
                        border-radius: 5px;
                        background-color: var(--secondColor);
                        width: calc(45% + 10px);
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 11px;
                        color: rgba(255, 255, 255, 0.6);
                    }
                    .status {
                        width: 100%;
                        border-radius: 5px;
                        background-color: var(--secondColor);
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--secondColor);
                        font-size: 11px;
                        color: rgba(255, 255, 255, 0.6);
                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                }
            }

        }

    }

}

.napadowa3-modal {
    display: flex;
    gap: 5px;
    width: 100%;
    color: #fff;
    select {
        width: 50%;
        height: 40px;
        font-size: 10px;
        background-color: var(--secondColor);
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        outline: none;
        border: none;
        &:focus {
            outline: none;
            border: none;
        }
    }
    option {
        background-color: var(--secondColor);
        color: rgba(255, 255, 255, 0.6);
        height: 22px;
        display: block;
        font-size: 12px;
    }
}

.buttons-zakladki{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    button{
        flex-grow: 1;
        background-color: var(--secondColor);
        border: 1px solid var(--mainColor);
        color: white;
        padding: 5px;
        font-size: .7rem;
    }
}

