.code-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 150px;
}

.codes {
    width: 765px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    *::-webkit-scrollbar {
        width: 3px;
        
    }
    
    *::-webkit-scrollbar-track {
        margin-right: 10px;
        background: var(--fourthColor);
        border: 2px solid var(--fourthColor);
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: var(--fourthColor);
        border: 2px solid var(--fourthColor);
    }
    
    .codes-flexible{        
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        // flex-wrap: wrap;
        height: 100%;
        width: 100%;
        gap: 5px;
        padding-right: 10px;
        
        .code-cat{
            margin-top: 10px;
            color: white;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            gap: 20px;

            .code-cat-line{
                width: 100%;
                height: 2px;
                background-color: var(--thirdColor);
            }
        }

        
        .code{
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: var(--mainColor);
            color: #fff;
            font-size: .8rem;
            padding: 5px 10px;
            box-sizing: border-box;
            

            
            div{
                background-color: var(--secondColor);
                flex-grow: 1;
            }
            
            .code-name{
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 80px;
                max-width: 80px;
                height: 100%;
            }
            
            .code-content{
                display: flex;
                flex-direction: column;
                max-width: 765px;
                height: 100%;
                padding: 5px 10px;
                .code-subtitle{
                    font-size: .6rem;
                    color: rgb(151, 151, 151);
                }
            }
    
            
        }

    }

}
