@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --color-default: #66d9e8;
  --color-hover: white;
}

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

#eye {
  content: "\F33E";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vh;
  fill: #66d9e8;
}

.eye-hover {
  fill: var(--color-default);
}

#options-wrapper {
  position: absolute;
  top: calc(48.5%);
  left: calc(50% + 30pt);
}



.option-container {
  color: var(--color-default);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto";
  border-style: solid;
  border-radius: 3px;
  border-width: 0.1px;
  border-color: rgba(100, 100, 100, 0.808);
  background: radial-gradient(circle, #25262bc5 0%, #25262bce 100%);
  font-size: 10pt;
  line-height: 22pt;
  vertical-align: middle;
  margin: 2pt;
  transition: 300ms;
  transform-origin: left top;
  scale: 1;
  height: 22pt;
  width: 150pt;
  position: relative;
  overflow: hidden;
  top: 0;
}

.option-container:hover {
  color: var(--color-hover);
  border-color: #38d9a99d;
  box-shadow: inset 0px 0px 31px #38d9a942;
}

.option-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  transform: skewX(-25deg);
  transition: transform 1.2s ease;
}

.option-container:hover::before {
  left: 150%;
  transition: left 1.22s ease;
}


.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
  color: var(--color-default);
  
}

.option-label {
  font-weight: 500;
  color: #fff;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px #66d9e8) brightness(1);
  }
  50% {
    filter: drop-shadow(0 0 20px #ffffff) brightness(2.5);
  }
  100% {
    filter: drop-shadow(0 0 5px #66d9e8) brightness(1);
  }
}

#eyeSvg {
  animation: glow 1.5s infinite;
}
