//
// Utilities
//

.text-regular {
  font-weight: 400 !important;
}

.text-medium {
  font-weight: 500 !important;
}

.text-semibold {
  font-weight: 600 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-extrabold {
  font-weight: 900 !important;
}

.text-white {
  color: #fff !important;
}

.text-light-gray {
  color: $color-light-gray !important;
}

.text-dark-gray {
  color: $color-dark-gray !important;
}

.text-right {
  text-align: right !important;
}

.text-nowrap {
  white-space: nowrap;
}

.position-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #707277;

  &--medium {
    font-size: 18px;
    line-height: 28px;
  }
}

.section-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #707277;

  &--small {
    font-size: 13px;
    line-height: 23px;
  }
}

.section-line {
  width: 5px;
  height: 25px;
  margin-right: 10px;
  border-radius: 999px;
  background-color: #fff;

  &--yellow {
    background-color: #ffcf52;
  }

  &--red {
    background-color: #ff2f61;
  }

  &--blue {
    background-color: #52acff;
  }
}

.section-square {
  width: 18px;
  height: 8px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #fff;

  &--blue {
    background-color: #52acff;
  }
}

.section-space {
  &-top {
    margin-top: $section-space;
  }

  &-bottom {
    margin-bottom: $section-space;
  }
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}
