.image-viewer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);

    img{
        width: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    video{
        height: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.warrant_creator{
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    gap: 20px;
    font-size: .8rem;
    height: 672px;
    overflow-y: auto;


    div:not(:last-child){
        display: flex;
        flex-direction: column;
        gap: 5px;
        textarea,
        input {
            resize: vertical;
            min-height: 28px;
            height: 28px;
            background-color: var(--secondColor);
            width: 100%;
            border: none;
            outline: none;
            color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            display: flex;
            align-items: center;
            font-size: 10px;
            padding-left: 5px;
            &:focus {
                border: none;
                outline: none;
            }

        }

        .add_button_involved{
            border: 2px solid var(--fourthColor);
            background-color: rgba(0, 0, 0, 0.2);
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
                opacity: .5;
            }
        }

        #images_included,
        #citizens_involved,
        #officers_involved{
            display: flex;
            flex-direction: column-reverse;
            gap: 3px;

            div:not(:first-child){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: var(--secondColor);
                padding: 5px;
                font-size: 10px;
            }

            .add_button_involved{
                margin-top: 10px;
            }
        }

    }


    div:last-child {
        display: flex;
        gap: 10px;
        button{
            width: 100%;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--fourthColor);
            border-radius: 5px;
            color: black;
            font-size: 10px;
            border: unset;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }

}


*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    margin-right: 10px;
    background: var(--secondColor);
    border: 2px solid var(--secondColor);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--fourthColor);
    border: 2px solid var(--fourthColor);
}